<h1>Sign up</h1>

<!-- This is a rails stock command that allows you to build a form *form_for* -->
<%= form_for(@user) do |f| %>
  <!-- Render the partial _fields -->
  <%= render 'fields', :f => f %>
  <div class="actions">
	<!-- This is the sign-up button text  -->
	<%= f.submit "Sign up" %>
  </div>
<% end %>

