<% if @user.errors.any? %>
  <div id="error_explanation">
	<!-- This will print '1 error prohibited...or 2 errorS prohibited....etc... -->
	<h2><%= pluralize(object.errors.count, "error") %>
		prohibited this <%= object.class.to_s.underscore.humanize.downcase %> 
		from being saved:</h2>
	<p>There were problems with the following fields:</p>
	<u1>
	  <% object.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</u1>
  </div>
<% end %>