<h1>Can you Tweet?</h1>

<p>
  This is the home page for Louis Topper's very first Ruby on Rails project:
	please refer to the following link if you have
	<%= link_to "questions.", "http://www.youtube.com/watch?v=JED3lNTCqeU", :target => '_blank'%>
</p>

<%= link_to "Don't hesitate, sign your life away now!", signup_path, :class => "signup_button round" %>