<h1>Can you Tweet?</h1>

<p>
  This is the home page for Louis Topper's very first Ruby on Rails project:
	please <a href="mailto:louis@louistopper.com">e-mail me</a> if you have questions.
</p>

<%= link_to "Don't hesitate, sign up for this incredibly innovative service now!", signup_path, :class => "signup_button round" %>