<h1>Help</h1>
<p>
  Get help with your life, look inwards. I also recommend the following links:

<%= link_to "High Existence Blog", "http://www.highexistence.com", :class => "help_links round", :target => '_blank' %>

</p>
<p>	
<!-- <%= link_to "Smirnoff Nightlife Exchange", "http://www.google.com/url?sa=t&source=web&cd=2&ved=0CCsQtwIwAQ&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dv5nV7IJB0uc&ei=ml2bTqbmFoWgtwfFkrzhAw&usg=AFQjCNEBf4aqJ_jYG95QkjC3koRy5a4H4A", :class => "help_links round", :target => '_blank' %> -->

<p>
<%= link_to "An Inspirational Portfolio", "http:/www.louistopper.com", :class => "help_links round", :target => '_blank' %>
</p>