<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", "http://www.google.com/url?sa=t&source=web&cd=1&sqi=2&ved=0CBsQ9gkwAA&url=https%3A%2F%2Fplus.google.com%2F104351659388731279799&ei=oFqbTs35IeX40gG2haSTAQ&usg=AFQjCNEjpJnWYqeUHjDJl9fHPX_JptdmOg", :target => '_blank'%> </li>
	  <li><%= link_to "Rails Tutorial", "http://www.railstutorial.org/", :target => '_blank'%>
      <!-- <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li> -->
    </ul>
  </nav>
</footer>